* {
  font-family: Arial, Helvetica, sans-serif;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

h1 {
  color: #27aedb;
  text-align: center;
}

button {
  color: #27aedb;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80px;
  cursor: pointer;
  margin-bottom: 10px;
  display: block;
}

input,
select {
  width: 300px;
  height: 20px;
}

span {
  color: red;
}

label,
input,
select {
  display: block;
  margin-bottom: 10px;
}
